* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

.search__input {
  width: 100%;
}

main {
  display: flex;
  gap: 40px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}