<div class="product" *ngFor="let product of products" id="product{{ product.id }}">
  <div class="product-image">
    <img src="./assets/images/products/{{ product.image }}" width="200" alt="" />
  </div>
  <div class="product-name">
    {{ product.name }}
  </div>
  <div class="product-year">
    {{ product.year }}
  </div>
  <div class="product-platform">
    {{ product.platform }}
  </div>
  <div class="product-brand">
    {{ product.brand }}
  </div>
  <div class="product-popular">
    {{ product.popular }}
  </div>
  <div class="product-quantity">
    {{ product.quantity }}
  </div>
  <button class="product-add-to-cart">Add to cart</button>
</div>